* {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

/* ---- colors ---  */
:root {

    /* ### Primary */

 --Cyan: hsl(179, 62%, 43%);
 --Bright-Yellow: hsl(71, 73%, 54%);

/* ### Neutral */

--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);

}
/* The Main Div  */

.parent {
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-grid {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
    height: 500px;
    /* border-radius: 15px; */
    /* gap: 10px 10px;  */

}

.div-grid .n1 { 
    background-color: white;
    grid-column: span 2;
    grid-row: span;
    /* display: grid;
    justify-content: center;
    align-items:   ; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.div-grid .n1 h2 {
    color: var(--Cyan);
    font-size: 16px;
    margin-left: 10%;
    margin-top: 5%;
    
}
.div-grid .n1 h4 {
    color: var(--Bright-Yellow);
    font-size: 15px;
    margin-left: 10%;
    margin-top: 20px;
   
}

.div-grid .n1 p {
    font-size: 13px;
    color: var(--Grayish-Blue);
    line-height: 1.7;
    margin-left: 10%;
    margin-top: 20px;
     
}
.div-grid .n2 {
    background-color:var(--Cyan) ;
    border-bottom-left-radius: 15px;
    /* border-bottom-right-radius: 15px; */
} 
.div-grid .n2 h2 {
    color: var(--Light-Gray);
    font-size: 16px;
    margin-left: 15%;
    margin-top: 10%;
}

.div-grid .n2 p {
    color: var(--Light-Gray);
    font-size: 13px;
    margin-left: 15%;
    margin-top: 20px;
}

.div-grid .n2 p span {
    font-size: 18px;
    color: white;
}
.div-grid .n2 .h-2 {
    color: var( --Light-Gray);
    font-size: 13px;
     
    margin-top: 20px;
}

.div-grid .n2 button {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border-style: none;
    background-color: var(--Bright-Yellow);
    color: white;
    margin-left: 15%;
    margin-top: 20px; 
}
 
.div-grid .n3 {
    background-color:#4abebd;
    border-bottom-right-radius: 15px;

}

.div-grid .n3 h2 {
    color: var(--Light-Gray);
    font-size: 16px;
    margin-left: 15%;
    margin-top: 9%;
}

.div-grid .n3 p {
    color: #9bd5e0;
    line-height: 1.5;
    margin-left: 15%;
    margin-top: 15px;
    
}